body {
  margin: 0;
  padding: 0;
  font-family: 'Rockwell', 'Times New Roman', serif;
  font-weight: normal;
  font-style: normal;
  color: #3F3F3D;
  background-color: #FEFFF6;
}

.box {
  width: 300px;
  padding: 40px;
  /* position: absolute; */
  margin-left: 50%;
  margin-top: 25%;
  transform: translate(-50%, -50%);
  background: linear-gradient(117.04deg, #442603 7.97%, rgba(111, 92, 70, 0) 97.85%), #2E1300;
  text-align: center;
  box-shadow:
    -25px -25px 0 -2px #FEFFF6,
    -25px -25px 0 0 #977765;
}

.box h1 {
  color: #FBC402;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type="text"], .box input[type="password"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #FBC402;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type="text"]:focus, .box input[type="password"]:focus {
  width: 280px;
  border-color: white;
}

.box input[type="submit"] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #AB523C;
  padding: 14px 40px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}

.box input[type="submit"]:hover {
  background: #AB523C
}

@media screen and (max-width:1300px) {
  .box {
    margin-top: 50%;
  }
}

@media screen and (max-width:700px) {
  .box {
    margin-top: 80%;
  }