
.productnav{
  position: sticky;
  top:30vh;
  box-sizing: border-box;
  max-width:300px;
  color:#3F3F3D;
  background-color: transparent;
  margin-bottom:-10rem;
  margin-top:2rem;
  z-index:0;
}

.productnav ul {
  list-style-type: none;
}

.productnav li {
  margin-top:1rem;
}

.productnav-link {
  text-decoration: none;
  color:#3F3F3D;
  font-weight: 600;
  transition-property: color;
  transition-duration: 0.3s;
  transition:
  color ease-in 100ms;
}


.productnav-link:hover {
  color:#FBC402;
  text-decoration: underline;
}

.selected {
  text-decoration: none;
  color:#FBC402;
  font-weight: 800;
  transition-property: color;
  transition-duration: 0.3s;
  transition:
  color ease-in 100ms;
}


.product-section {
 margin-left:17rem;
margin-bottom:5rem;
}
/* start-page is so there is space between the banner and the start of the page. */
.start-page {
  margin-top:4rem;
}

.sectiontitle {
  margin-left:17rem;
}

.produc-desc {
  max-width:400px;
}

.fullproduct-image-pic {
height: auto;
max-width: 500px;
margin-top:2rem;
filter: drop-shadow(10px 10px 4px #888888);
box-shadow:
-25px -25px 0 -2px #FEFFF6,
-25px -25px 0 0 #977765;
transition:
box-shadow ease-in 150ms;
}
.fullproduct-image-pic:hover {
box-shadow:
2px -2px 0 -2px #FEFFF6,
-2px -2px 0 0 #977765;
}

.fullproduct-description{
  margin-top:2rem;
  margin-left:-30vw;
}

.bannercontainer {
  width:100%;
  height:100%;
}

#confectionary {
  background-image:url("../images/confectionary.png");
  background-color:#AB523C;
    background-repeat: no-repeat;
}

#fruitproducts {
  background-image:url("../images/fruitproducts.png");
  background-color:#AB523C;
    background-repeat: no-repeat;
}

#darkproducts {
  background-image:url("../images/darkproducts.png");
  background-color:#AB523C;
    background-repeat: no-repeat;
}

#rubyproducts {
  background-image:url("../images/rubyproducts.png");
  background-color:#AB523C;
    background-repeat: no-repeat;
}




.aboutsubtitle{
  position: absolute;
  margin-left: 15vw;
  margin-top:25vh;
  text-align: center;
  letter-spacing: .3rem;
  color: #EFAD4B;

  font-size: 4rem;
}
.aboutsubsubtitle{
  position: absolute;
  margin-left: 16vw;
  margin-top:45vh;
  letter-spacing: .3rem;
  color: #EFAD4B;
  font-weight: 400;

  font-size: 2rem;
}

.abouttitle{
  position: absolute;
  margin-left: 15vw;
  margin-top:30vh;
  text-align: center;
  letter-spacing: .3rem;
  color: #EFAD4B;

  font-size: 8rem;
}
.fruitsubtitle{
  position: absolute;
  margin-left: 9vw;
  margin-top:67vh;
  text-align: center;
  letter-spacing: .3rem;
  color: #FFFCF7;
  font-weight: 400;

  font-size: 2rem;
}

.fruitnav {
  color: #C52E2A;
}

.darksubtitle{
  position: absolute;
  margin-left: 9vw;
  margin-top:90vh;
  text-align: center;
  letter-spacing: .3rem;
  color: #EFAD4B;
  font-weight: 400;

  font-size: 2rem;
}

.rubysubtitle{
  position: absolute;
  margin-left: 5vw;
  margin-top:70vh;
  text-align: center;
  letter-spacing: .3rem;
  color: #871A21;
  font-weight: 400;

  font-size: 2rem;
}
.rubynav {
  color: #871A21;
}



/* individual products */


.indivproduct-image {
margin-left:-10vw;
}

.indivproduct-nav {
margin-left:12vw;
}

.indivproduct-nav-item{
  display: inline-block;
}

.indivproduct-name {
  display: block;
}

.indivproduct-startpage{

}

@media (max-width: 1070px) {
  .aboutsubtitle{
    position: absolute;
    margin-left: 12vw;
    margin-top:25vh;
    text-align: left;
    letter-spacing: .3rem;
    color: #EFAD4B;

    font-size: 4rem;
  }
  .aboutsubsubtitle{
    position: absolute;
    margin-left: 12vw;
    margin-top:45vh;
    letter-spacing: .3rem;
    color: #EFAD4B;
    font-weight: 400;
    text-align: left;
    font-size: 2rem;
  }

  .abouttitle{
    position: absolute;
    margin-left: 12vw;
    margin-top:30vh;
    text-align: left;
    letter-spacing: .3rem;
    color: #EFAD4B;

    font-size: 4rem;
  }
}
@media (max-width:700px) {
 .productnav {
  visibility: hidden;
}

.aboutsubtitle{
  position: absolute;
  margin-left: 10vw;
  margin-top:25vh;
  text-align: left;
  letter-spacing: .3rem;
  color: #EFAD4B;

  font-size: 2rem;
}
.aboutsubsubtitle{
  position: absolute;
  margin-left: 10vw;
  margin-top:45vh;
  letter-spacing: .3rem;
  color: #EFAD4B;
  font-weight: 400;
  text-align: left;
  font-size: 1rem;
}

.abouttitle{
  position: absolute;
  margin-left: 10vw;
  margin-top:30vh;
  text-align: left;
  letter-spacing: .3rem;
  color: #EFAD4B;

  font-size: 2rem;
}
.start-page {
  margin-top: 25rem;
}

.sectiontitle {
  margin-left: 20px;
  margin-top: 100px;
}
}

@media (max-width:451px) {
  .abouttitle {
    font-size: 2em;
  }
}


@media (max-width:1195px) {
  .fullproduct-image-pic {
    margin-left: 100px;
    width: 50%;
  }

  .fullproduct-description {
    margin-left: 100px;
  }

  .product-section {
    margin-left: 7rem;
  }
}
