.styleguidewrap {
  margin-left: 5vw;
}

.styleguidebanner {
  /* background: rgb(106,71,46);
background: linear-gradient(34deg, rgba(106,71,46,1) 0%, rgba(148,106,76,1) 35%, rgba(155,112,81,1) 100%); */
  height: 72px;
  width: 100%;
  z-index: 3;
}