.banner {
  position: absolute;
  top: 0;
  left: 0;
  /* background: rgb(106,71,46);
background: linear-gradient(34deg, rgba(106,71,46,1) 0%, rgba(148,106,76,1) 35%, rgba(155,112,81,1) 100%); */
  height: 72px;
  width: 100%;
  z-index: 3;
}

.bannerbackground {
  background: #AB523C;
}

.banner-item-left {
  margin-left: -10vw;
  display: block;
  margin-top: 1.3rem;
  box-sizing: border-box;
  list-style: none;
}

.banner-logo {
  margin-left: 3vw;
  display: block;
  margin-top: 1.3rem;
  box-sizing: border-box;
}

.banner-item-right {
  margin-left: 10em;
  display: block;
  margin-top: 1.3rem;
  box-sizing: border-box;
}

.nav-list {
  display: inline-block;
}

#hamborgor {
  display: none;
}

@media (max-width:1200px) {
  .banner {
    width: 100%
  }

  #hamborgor {
    display: block;
  }

  .nav-list {
    display: block;
  }

  .banner-item-right, .banner-item-left {
    margin-left: 0;
    display: block;
    margin-top: 1.3rem;
    box-sizing: border-box;
    list-style: none;
  }

  #hamborgorstuffing {
    position: fixed;
    right: 50px;
    top: 30px;
    background-color: white;
    box-shadow: 2px 2px 5px 0 #888888;
    z-index: 30;
  }

  #hamborgorstuffing.hidden {
    display: none;
  }

  #hamborgorstuffing.display {
    display: block;
  }
}

@media (max-width: 700px) {
  #hamborgorstuffing {
    left: 0px;
    width: 100vw;
    top: 100px;
    background-color: white;
    min-width: 50vw;
  }

  .banner {
    position: absolute;
    background: #AB523C;
  }

  .bannerlogo {
    width: 20vw;
    height: auto;
  }

  #hamborgorstuffing ul {
    margin-left: 25vw;
  }
}