@font-face {
    font-family: 'Rockwell';
    src: url('Rockwell.woff2') format('woff2'),
        url('Rockwell.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
